<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.sintrafico.demo.SinTrafico_Xamarin_Forms_Demo">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="SinTrafico.Xamarin.Forms.Demo">
	</application>
</manifest>
